@import "body";
@import "grid";
@import "footer";
@import "desktop";



/* header */

* { margin: 0; box-sizing: 0;}

p, a, li {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 18px;
}

h1, h2, h3, h4 {
    font-family: hubba2;
}

body {
    background-color: #fd7d15;
}

.color-acento {
    color: aliceblue;
}

.color-acento-1 {
    color: #fd7d15;
}

@font-face {
    font-family: hubba1;
    src: url(/letra/Hubba-Oblique.otf);
}

@font-face {
    font-family: hubba2;
    src: url(/letra/HubbaShadow-SemiBoldOblique.otf);
}

a {
    text-decoration: none;
    color: aliceblue;

    &:hover {
    color: #fd7d15;
    }
}

.container {
    max-width: 1400px;
    margin: auto;
}

  /*header  */

header {
    background-image: linear-gradient(0deg, #49454580, #00000080), url(../img/pexels-photo.jpg);

    .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    }

    .menu a {
    padding-right: 30px;
    display: inline;
    text-align: center;
    padding-bottom: 10px;
    }
}

.titulo {
    text-align: center;
    background-color: #323232;
}

button {
    font-size: 10px;
    color: #fd7d15;
    font-weight: bold;
    padding: 10px 50px;
    border-radius: 5px;
    border: 2px solid black;
    border: 2px 2px 10px #00000080;
    background-color: #323232;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:hover {
    background-color: #fd7d15;
    color: aliceblue;
    }
}
/* each */
@each $background in red, green, blue, gray, orange, black, tomato {
    #{$background} {
        background-color: $background;
    }
    
}


/* maps */

$paleta-redes: (
    tw: lightblue,
    fb: blue,
    ig: blueviolet,
    mail: #8d6868,
    in: darkblue,
    sp: yellow,
);
@each $nombre, $valor in $paleta-redes {
    .paleta-red-#{$nombre} {
        color: $valor;
    }
    
}

$colores: (
    main: #000,
    base: #333,
    fondo: aqua,
);

.color-muestra{
    background: map-get($map: $colores , $key: fondo );
}

/* EXTEND */
.img-full{
    width: 100%;
    height:  auto;
}

.img__full--dark{
    @extend .img-full;
    background-color:  #004400;
}

/* MIXINS */
@mixin btn {
    display: inline-block;
    padding: 20px;
    border: black solid 10px;
    border-radius: 20px;
    width: 200px;
}

.btn--danger{
    @include btn;
    background-color: rgb(195, 240, 252);
}

.btn--warning{
    @include btn;
    background-color: orange;
}

@mixin btn($col, $bg) {
    display: inline-block;
    padding: 10px;
    color: $col;
    background: $bg;
    text-decoration: none;
}
.btn--info{
    @include btn(blue, yellow)

}

