/* footer */
footer {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#49454580), to(#00000080)), url(../img/pexels-photo.jpg);
  background-image: linear-gradient(0deg, #49454580, #00000080), url(../img/pexels-photo.jpg);
}

footer p {
  margin: 0;
  color: #fd7d15;
}

footer .container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconos ul li {
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  text-align: center;
}

.iconos ul li a {
  display: block;
  padding: 0 10px;
  color: #fd7d15;
  line-height: 50px;
  font-size: 20px;
  -webkit-box-shadow: 0 3px 0px #00000033;
          box-shadow: 0 3px 0px #00000033;
  -webkit-transition: .2s;
  transition: .2s;
}

.iconos ul:hover a {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

/* nav foooter */
.navfin ul li a {
  color: aliceblue;
}

/* transformaciones */
.iconos ul li a:hover {
  -webkit-transform: translateY(-3px) scale(1.05);
          transform: translateY(-3px) scale(1.05);
  -webkit-box-shadow: 0 5px 0px #00000066;
          box-shadow: 0 5px 0px #00000066;
  -webkit-filter: none;
          filter: none;
}

.iconos ul li .facebook:hover {
  background: var(--facebook);
}

/* header */
* {
  margin: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

p, a, li {
  font-family: 'Chakra Petch', sans-serif;
  font-size: 18px;
}

h1, h2, h3, h4 {
  font-family: hubba2;
}

body {
  background-color: #fd7d15;
}

.color-acento {
  color: aliceblue;
}

.color-acento-1 {
  color: #fd7d15;
}

@font-face {
  font-family: hubba1;
  src: url(/letra/Hubba-Oblique.otf);
}

@font-face {
  font-family: hubba2;
  src: url(/letra/HubbaShadow-SemiBoldOblique.otf);
}

a {
  text-decoration: none;
  color: aliceblue;
}

a:hover {
  color: #fd7d15;
}

.container {
  max-width: 1400px;
  margin: auto;
}

/*header  */
header {
  background-image: -webkit-gradient(linear, left bottom, left top, from(#49454580), to(#00000080)), url(../img/pexels-photo.jpg);
  background-image: linear-gradient(0deg, #49454580, #00000080), url(../img/pexels-photo.jpg);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

header .menu a {
  padding-right: 30px;
  display: inline;
  text-align: center;
  padding-bottom: 10px;
}

.titulo {
  text-align: center;
  background-color: #323232;
}

button {
  font-size: 10px;
  color: #fd7d15;
  font-weight: bold;
  padding: 10px 50px;
  border-radius: 5px;
  border: 2px solid black;
  border: 2px 2px 10px #00000080;
  background-color: #323232;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

button:hover {
  background-color: #fd7d15;
  color: aliceblue;
}
